@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", serif;
  --color-first-color: #069c54;
  --color-first-color-alt: #048654;
  --color-title-color: #393939;
  --color-text-color: #707070;
  --color-text-color-light: #a6a6a6;
  --color-body-color: #fbfefd;
  --color-container-color: #ffffff;
  --height-header-height: 3rem;
  --text-biggest-font-size: 2.25rem;
  --text-h1-font-size: 1.5rem;
  --text-h2-font-size: 1.25rem;
  --text-h3-font-size: 1rem;
  --text-normal-font-size: 0.938rem;
  --text-small-font-size: 0.813rem;
  --text-smaller-font-size: 0.75rem;
}

@layer {
  body {
    font-family: var(--font-poppins);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  .show-menu {
    @apply top-12;
  }
  /* Active menu */
  .active-link {
    @apply text-first-color;
  }
  /* change background header */
  .scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* scroll top */
  .scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: rgba(6, 156, 84, 0.5);
    border-radius: 0.4rem;
    z-index: 10;
    transition: 0.4s;
    visibility: hidden;
  }
  .scrolltop:hover {
    background: var(--color-first-color-alt);
  }
  .scrolltop__icon {
    font-size: 1.8rem;
    color: var(--color-body-color);
  }
  /* show scrolltop */
  .scroll-top {
    visibility: visible;
    bottom: 1.5rem;
  }

  /* Home */
  .home__container {
    height: calc(100vh - var(--height-header-height));
    align-content: center;
  }
  .home__title {
    font-size: var(--text-biggest-font-size);
    color: var(--color-first-color);
    margin-bottom: 1rem;
  }
  .home__subtitle {
    display: block;
    font-size: var(--text-h1-font-size);
    color: var(--color-title-color);
    margin-bottom: 1.5rem;
  }
  .home__img {
    width: 300px;
    justify-self: center;
  }
  .button {
    display: inline-block;
    padding: 0.75rem 1rem;
    background: var(--color-first-color);
    color: var(--color-container-color);
    border-radius: 0.5rem;
    transition: 0.3s;
  }
  .button:hover {
    background: var(--color-first-color-alt);
  }
  /* About */
  .about__data {
    text-align: center;
  }
  .about__description {
    margin-bottom: 1.5rem;
  }
  .about__img {
    width: 280px;
    justify-self: center;
    border-radius: 0.5rem;
  }

  /* Services */

  .services__container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: 2.5rem;
  }
  .services__content {
    text-align: center;
  }
  .services__img {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
    fill: var(--color-first-color);
  }
  .services__content > svg {
    display: inline-block;
  }
  .services__title {
    font-size: var(--text-h3-font-size);
    color: var(--color-title-color);
    margin-bottom: 0.5rem;
  }
  .services__description {
    padding: 0 1.5rem;
  }

  /* MENU */
  .menu__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-container-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
    padding: 0.75rem;
  }
  .menu__img {
    width: 100%;
    align-self: center;
    margin-bottom: 1rem;
  }
  .menu__name,
  .menu__preci {
    font-weight: 600;
    color: var(--color-title-color);
  }
  .menu__name {
    font-size: var(--text-normal-font-size);
  }
  .menu__detail,
  .menu__preci {
    font-size: var(--text-small-font-size);
  }
  .menu__detail {
    margin-bottom: 0.5rem;
  }
  .menu__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0.625rem 0.813rem;
    border-radius: 0.5rem 0 0.5rem 0;
  }

  /* APP */
  .app__data {
    text-align: center;
  }
  .app__description {
    margin-bottom: 1.5rem;
  }
  .app__stores {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  .app__store {
    width: 120px;
    margin: 0 1rem;
  }
  .app__img {
    width: 230px;
    justify-self: center;
  }

  /* Contact */
  .contact__container {
    text-align: center;
  }
  .contact__description {
    margin-bottom: 1.5rem;
  }

  /* Footer */
  .footer__container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: 2rem;
  }
  .footer__logo {
    font-size: var(--text-h3-font-size);
    color: var(--color-first-color);
    font-weight: 600;
  }
  .footer__description {
    display: block;
    font-size: var(--text-small-font-size);
    margin: 0.25rem 0 1.5rem;
  }
  .footer__social {
    font-size: 1.5rem;
    color: var(--color-title-color);
    margin-right: 1rem;
  }
  .footer__title {
    font-size: var(--text-h2-font-size);
    color: var(--color-title-color);
    margin-bottom: 1rem;
  }
  .footer__link {
    display: inline-block;
    color: var(--color-text-color);
    margin-bottom: 0.5rem;
  }
  .footer__link:hover {
    color: var(--color-first-color);
  }
  .footer__copy {
    font-size: var(--text-small-font-size);
    color: var(--color-text-color-light);
    text-align: center;
    margin-top: 3.5rem;
  }

  /* MEDIA QUERIES */
}

@layer components {
  .section {
    padding: 4rem 0 2rem;
  }
  .section-title,
  .section-subtitle {
    text-align: center;
  }
  .section-title {
    @apply text-h1-font-size;
    @apply text-title-color;
    @apply mb-6;
  }
  .section-subtitle {
    @apply block;
    @apply text-first-color;
    @apply font-medium;
    @apply mb-2;
  }

  /* layout */
  .bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .bd-grid {
    display: grid;
    gap: 1.5rem;
  }

  .nav__item {
    @apply mb-4;
  }
  .nav__link,
  .nav__logo,
  .nav__toggle {
    @apply text-text-color;
    @apply font-medium;
  }
  .nav__link {
    @apply duration-300;
  }
  .nav__link:hover {
    @apply text-first-color;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }
  .about__img,
  .app__img {
    width: 300px;
    order: -1;
  }
  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --text-biggest-font-size: 4rem;
    --text-h1-font-size: 2.25rem;
    --text-h2-font-size: 1.5rem;
    --text-h3-font-size: 1.25rem;
    --text-normal-font-size: 1rem;
    --text-small-font-size: 0.875rem;
    --text-smaller-font-size: 0.813rem;
  }
  body {
    margin: 0;
  }
  .section {
    padding-top: 8rem;
  }
  .nav {
    height: calc(var(--height-header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-bottom: 0;
    margin-left: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
    justify-items: center;
  }
  .services__container,
  .menu__container {
    margin-top: 3rem;
  }
  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content {
    padding: 1.5rem;
  }
  .menu__img {
    width: 130px;
  }
  .app__store {
    margin: 0 0.5rem 0 0;
  }
}
@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 500px;
  }
  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}
